{% load static %}
{%include "Base.html"%}

<!DOCTYPE html>
<html>
<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
<title>about</title>

</head>




<div class=container>

  <sopra>  
  This corner of the World wide web is dedicated to space travel, tech and astronomy 
      with a touch of meditation about the future of humanity
  </sopra>
<sotto>
  The mission is to collect and share all tech-space-scientific info.
  It is Also a hub for people who wants to collaborate...
  Get in contact with us via e-mail or twitter!
</sotto>
</div>

</html>




