{%load static%}
{%include "Navbar.html"%}

<!DOCTYPE html>
<html>
<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">


<title>contact</title>

</head>

<div id='contacts'>
<email>
<ul>
  <a href = "mailto: info@spacetraffic.net">
   email: info@spacetraffic.net
   </a>
  </ul>
</email>


<twitter>
<ul>
     <a href="https://twitter.com/SpacetrafficN">
   twitter:@spacetraffic.net
   </a>
  </ul>
</twitter>
</div>
