{%load static%}
{%include "Base.html"%}

<!DOCTYPE html>
<html>
<head>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">


<title>contact</title>

</head>
<body>
<div class=container>
<email>
<h1>
   email: cesaremannino@hotmail.it
</h1>
</email>


<twitter>
<h1>
   twitter:@dev_manny
</h1>
</twitter>
</div>
</body>