<!DOCTYPE html>
<html lang="en">

{% load static %}
{%include "Base.html"%}



<!-- cache eraser -->
<header>
  <meta name="propeller" content="12bebe3bdb5972b07a2a0340874adcdb">
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
</header>
<!-- fonts link and css/html link -->

<head>
  <link rel="canonical" href="https://www.spacetraffic.net/" />
  <script type="text/javascript" language="jquery">
    $(document).ready(function () {
      $("body").addClass("animated hinge");
    });
    var versionUpdate = (new Date()).getTime();
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "../static/js/script.js?v=" + versionUpdate;
    document.body.appendChild(script);
  </script>



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
  </style>

  <!-- For google calendar integration -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function printCalendar() {
      var calendarId = 'msacpn523mpjgq0jlooh41eme4@group.calendar.google.com';
      var apiKey = 'AIzaSyCy1chATNeTPNd3pUbzF84UAibd4In2JQw';
      var userTimeZone = "UTC";
      gapi.client.init({
        'apiKey': apiKey,
        'discoveryDocs': ['https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest'],
      }).then(function () {
        return gapi.client.calendar.events.list({
          'calendarId': calendarId,
          'timeZone': userTimeZone,
          'singleEvents': true,
          'timeMin': (new Date()).toISOString(), //gathers only events not happened yet
          'maxResults': 70,
          'orderBy': 'startTime'
        });
      }).then(function (response) {
        if (response.result.items) {
          var calendarRows = ['<table class="wellness-calendar"><tbody>'];
          var events = [];
          var startsAt;
          var endsAt;
          response.result.items.forEach(function (entry) {
            if (entry.start.dateTime != undefined) {
              startsAt = moment.utc(entry.start.dateTime).format("L") + ' ' + moment.utc(entry.start.dateTime).format("LT");
            }
            if (entry.start.date != undefined) {
              startsAt = moment.utc(entry.start.date).format("L") + ' ' + moment.utc(entry.start.date).format("LT");
            }
            if (entry.start.dateTime != undefined) {
              endsAt = moment.utc(entry.end.dateTime).format("L") + ' ' + moment.utc(entry.end.dateTime).format("LT");
            }
            if (entry.start.date != undefined) {
              endsAt = moment.utc(entry.end.date).format("L") + ' ' + moment.utc(entry.end.date).format("LT");
            }
            calendarRows.push(`<tr><td>${startsAt} - ${endsAt}</td><td>${entry.summary}</td></tr>`);
            event = {};
            if (entry.summary) {
              event["name"] = entry.summary;
              event["eventdate"] = startsAt;
              if (entry.description) {
                event["description"] = entry.description;
              } console.log("this is the description:", entry.description)
              if (!events.some(e => e.name == event.name)) {
                events.push(event);
              }
            }
            setEventDate(normalizeEventName(entry.summary), startsAt, entry.description);
          });
          console.log(events);
          setAllEvenDates(events);
          console.log(arrElements);
          setAllInterval();
          calendarRows.push('</tbody></table>');
          $('#wellness-calendar').html(calendarRows.join(""));
        }
      }, function (reason) {
        console.log('Error: ' + reason.result.error.message);
      });
    };

    // Loads the JavaScript client library and invokes `start` afterwards.
    gapi.load('client', printCalendar);
  </script>

  <script>


    var arrElements = [
      { "name": "Electron", "eventdate": "", "mission": "", "description": "" },
      { "name": "Falcon 9 B5", "eventdate": "", "mission": "", "description": "" },
      { "name": "New Shepard", "eventdate": "", "mission": "", "description": "" },
      { "name": "SpaceShipTwo", "eventdate": "", "mission": "", "description": "" },
      { "name": "Terran 1", "eventdate": "", "mission": "", "description": "" },
      { "name": "Super Heavy", "eventdate": "", "mission": "", "description": "" },
      { "name": "Falcon Heavy", "eventdate": "", "mission": "", "description": "" }
    ];


    function setAllEvenDates(arrEvents) {
      for (let i = 0; i < arrEvents.length; i++) {
        setEventDate(arrEvents[i].name, arrEvents[i].eventdate, arrEvents[i].description);
      }
    }


    function normalizeEventName(eventname) {
  if (!eventname) { return ''; } // Return an empty string if eventname is undefined
  const parts = eventname.split('•');
  if (parts.length > 1) {
    return parts[1].trim();  // return the part after "•"
  }
  return eventname;
}





    function setEventDate(eventname, eventdate, eventdescription) {
      for (var i = 0; i < arrElements.length; i++) {
        if (eventname.search(arrElements[i].name) != -1) {
          var now = new Date().getTime();
          var newEventDate = new Date(eventdate).getTime();
          if (newEventDate > now) {
            if (arrElements[i].eventdate == "" || newEventDate < new Date(arrElements[i].eventdate).getTime()) {
              arrElements[i].eventdate = eventdate;
              arrElements[i].mission = normalizeEventName(eventname); // set the mission name
              arrElements[i].description = eventdescription; // set the description here
            }
          }
        }
      }
    }


    function setAllInterval() {
  // Update the count down every 1 second
  var x = setInterval(function () {
    for (var i = 0; i < arrElements.length; i++) {
      var nextLaunchDate = null;
      if (arrElements[i].eventdate != "") {
        var now = new Date().getTime();
        var countDownDate = new Date(arrElements[i].eventdate).getTime();
        if (countDownDate > now) {
          nextLaunchDate = arrElements[i].eventdate;
        }
      }
      if (nextLaunchDate == null) {
        document.getElementById(arrElements[i].name).innerHTML = "UNSCHEDULED";
        // Hide the "Read More" link if the launch is not scheduled
        document.getElementById(arrElements[i].name + 'DescriptionShort').style.display = 'none';
      } else {
        var now = new Date().getTime();
        var countDownDate = new Date(nextLaunchDate).getTime();
        var distance = countDownDate - (now - 3600000);
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById(arrElements[i].name).innerHTML = arrElements[i].mission + ": " + days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
        if (distance < 0) {
          document.getElementById(arrElements[i].name).innerHTML = "EXPIRED";
        }
        // Set the description text
        var fullDescription = arrElements[i].description;
        var shortDescription = fullDescription.length > 100 ? fullDescription.substring(0, 70) + '...' : fullDescription;
        document.getElementById(arrElements[i].name + 'DescriptionShortText').innerText = shortDescription;
        document.getElementById(arrElements[i].name + 'DescriptionFullText').innerText = fullDescription;
      }
    }
  }, 1000);
}


    // script to load the description

    function toggleDescription(rocketName) {
  var shortDescriptionElement = document.getElementById(rocketName + 'DescriptionShort');
  var fullDescriptionElement = document.getElementById(rocketName + 'DescriptionFull');
  if (shortDescriptionElement.style.display === 'none') {
    shortDescriptionElement.style.display = 'block';
    fullDescriptionElement.style.display = 'none';
  } else {
    shortDescriptionElement.style.display = 'none';
    fullDescriptionElement.style.display = 'block';
  }
  // Hide the "Read More" link if the full description is being shown, and show it if the short description is being shown
  document.getElementById(rocketName + 'DescriptionShort').style.display = fullDescriptionElement.style.display === 'none' ? 'block' : 'none';
}

  </script>

</head>




<div id='top'>
  <ul>SpaceTraffic</ul>
  <h1></h1>
</div>






<ciao>
  <icon>
    <i> Upcoming launches</i>
  </icon>
</ciao>





<div class="gallery">


<div class="gallery-item">

    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=spacetraffi00-20&language=en_US&marketplace=amazon&region=US&placement=B0CHYHY1WZ&asins=B0CHYHY1WZ&linkId=4c72ee57465c36f19ecd0781e070e798&show_border=true&link_opens_in_new_window=true"></iframe>
    
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=spacetraffi00-20&language=en_US&marketplace=amazon&region=US&placement=B0C484PGWB&asins=B0C484PGWB&linkId=efa0e97159987ad2ca0f3c09157338f3&show_border=true&link_opens_in_new_window=true"></iframe>



    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=spacetraffi00-20&language=en_US&marketplace=amazon&region=US&placement=B0BZN4C35T&asins=B0BZN4C35T&linkId=b5175402679d9ceb2f6c023db56a7edc&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=spacetraffi00-20&language=en_US&marketplace=amazon&region=US&placement=B0CDDY8F9L&asins=B0CDDY8F9L&linkId=4b1bb79f0fb9555e1d38bdc237ef9bf7&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=spacetraffi00-20&language=en_US&marketplace=amazon&region=US&placement=B07PZCQLJY&asins=B07PZCQLJY&linkId=50aeb9205cafee36211d668e67953883&show_border=true&link_opens_in_new_window=true"></iframe>

    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=spacetraffi00-20&language=en_US&marketplace=amazon&region=US&placement=B08GJP4HHB&asins=B08GJP4HHB&linkId=449d7dd788697cb995c844102f9e57dc&show_border=true&link_opens_in_new_window=true"></iframe>
  


  
</div>
  
  <div class="gallery-item">
    <!-- <div class="twitter"> -->
    
    <a class="twitter-timeline" data-height="700" href="https://twitter.com/SpacetrafficN?ref_src=twsrc%5Etfw">Tweets
      by
      SpacetrafficN
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- </div> -->
  </div>

  <div class="gallery-item">


    <div id='companyname'>
      Rocket lab
    </div>


    <!-- link to watch live -->

    <div class="videoWrapper">
      <iframe width="971" height="546" src="https://www.rocketlabusa.com/live-stream" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class='livenote'>
      <h3>Live about 15/30 min before the end of countdown</h3>
    </div>

    <!-- <img src="images/picture.jpg"> -->

    <a href="{% static 'images/electron.jpeg' %}" target="_blank">
      <img class="gallery-image" src="{% static 'images/electron.jpeg' %}" alt="Rocketlab electron">
    </a>


    <div class="css-typing-electron">
      <p>
        Electron
      </p>
      <p>
        Height = 17 meters
      </p>
      <p>
        Thrust first stage = 162 kN
      </p>
      <p>
        Key person : PETER BECK
      </p>




      <div class='countdown'>
        <div id="Electron">please wait...</div>
      </div>



      <div id="ElectronDescriptionShort" class="descriptionShort">
        <span id="ElectronDescriptionShortText"></span> <a href="#"
          onclick="toggleDescription('Electron'); return false">Read
          More</a>
      </div>
      <div id="ElectronDescriptionFull" class="descriptionFull" style="display: none;">
        <span id="ElectronDescriptionFullText"></span> <a href="#"
          onclick="toggleDescription('Electron');return false ">Read Less</a>
      </div>

    </div>
  </div>

  <div class="gallery-item">
    <!-- icona -->
    <div id='companyname'>
      SpaceX
    </div>
    <!-- link to watch live -->
    <div class="videoWrapper">
      <iframe width="971" height="546" src="https://www.spacex.com/launches/" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class='livenote'>
      <h3>Live about 15/30 min before the end of countdown</h3>
    </div>


    <a href="{% static 'images/Falcon9.jpg' %}" target="_blank">
      <img class="gallery-image" src="{% static 'images/Falcon9.jpg' %}" alt="Spacex Falcon 9">
    </a>
    <div class="css-typing-falcon">
      <p>
        Falcon 9
      </p>
      <p>
        Height = 70 meters
      </p>
      <p>
        Thrust first stage = 7607 kN
      </p>
      <p>
        Key person : ELON MUSK
      </p>
      <!-- <div id=utc>UTC</div> -->
      <div class=countdown>
        <div id="Falcon 9 B5">please wait...</div>
      </div>
      <div id="Falcon 9 B5DescriptionShort" class="descriptionShort">
        <span id="Falcon 9 B5DescriptionShortText"></span> <a href="#"
          onclick="toggleDescription('Falcon 9 B5'); return false">Read
          More</a>
      </div>
      <div id="Falcon 9 B5DescriptionFull" class="descriptionFull" style="display: none;">
        <span id="Falcon 9 B5DescriptionFullText"></span> <a href="#"
          onclick="toggleDescription('Falcon 9 B5');return false ">Read Less</a>
      </div>

    </div>
  </div>

  <div class="gallery-item">
    <!-- icona -->
    <div id='companyname'>
      Blue Origin
    </div>
    <!-- link to watch live -->
    <div class="videoWrapper">
      <iframe width="971" height="546" src="https://www.youtube.com/embed/g9oTZu2HP8U" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class='livenote'>
      <h3>Live about 15/30 min before the end of countdown</h3>
    </div>





    <a href="{% static 'images/newshepard.jpg' %}" target="_blank">
      <img class="gallery-image" src="{% static 'images/newshepard.jpg' %}" alt="New Shepard">
    </a>
    <div class="css-typing-newshepard">
      <p>
        New Shepard
      </p>
      <p>
        Height = 18 meters
      </p>
      <p>
        Thrust first stage = 490 kN
      </p>
      <p>
        Key person : JEFF BEZOS
      </p>
      <!-- <div id=utc>UTC</div> -->
      <div class='countdown'>
        <div id="New Shepard">please wait...</div>
      </div>
        <div id="New ShepardDescriptionShort" class="descriptionShort">
          <span id="New ShepardDescriptionShortText"></span> <a href="#"
            onclick="toggleDescription('New Shepard'); return false">Read
            More</a>
        </div>
        <div id="New ShepardDescriptionFull" class="descriptionFull" style="display: none;">
          <span id="New ShepardDescriptionFullText"></span> <a href="#"
            onclick="toggleDescription('New Shepard');return false ">Read Less</a>
        </div>

     
    </div>
  </div>

  <div class="gallery-item">
    <!-- icona -->

    <div id='companyname'>
      Virgin Galactic
    </div>
    <!-- link to watch live -->
    <div class="videoWrapper">
      <iframe width="971" height="546" src="https://www.youtube.com/embed/h8T9mVkGh3s" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class='livenote'>
      <h3>Live about 15/30 min before the end of countdown</h3>
    </div>

    <a href="{% static 'images/spaceshiptwo.jpg' %}" target="_blank">
      <img class="gallery-image" src="{% static 'images/spaceshiptwo.jpg' %}" alt="Virgin Galactic Space Ship Two">
    </a>
    <div class="css-typing-spaceshiptwo">

      <p>
        SpaceShipTwo
      </p>
      <p>
        Length = 18.3 meters
      </p>
      <p>
        Thrust = 270 kN
      </p>
      <p>
        Key person : RICHARD BRANSON
      </p>
      <!-- <div id=utc>UTC</div> -->
      <div class='countdown'>
        <div id="SpaceShipTwo">please wait...</div>
      </div>
      <div id="SpaceShipTwoDescriptionShort" class="descriptionShort">
        <span id="SpaceShipTwoDescriptionShortText"></span> <a href="#"
          onclick="toggleDescription('SpaceShipTwo'); return false">Read
          More</a>
      </div>
      <div id="SpaceShipTwoDescriptionFull" class="descriptionFull" style="display: none;">
        <span id="SpaceShipTwoDescriptionFullText"></span> <a href="#"
          onclick="toggleDescription('SpaceShipTwo');return false ">Read Less</a>
      </div>




    </div>
  </div>

  <div class="gallery-item">

    <!-- icona -->


    <!-- <img class="icon_electron"
             alt="Rocketlab electron"> -->
    <div id='companyname'>
      Relativity Space
    </div>


    <!-- link to watch live -->

    <div class="videoWrapper">
      <iframe width="971" height="546" src="https://www.relativityspace.com/" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class='livenote'>
      <h3>Live about 15/30 min before the end of countdown</h3>
    </div>

    <!-- <img src="images/picture.jpg"> -->

    <a href="{% static 'images\terran1.jpg' %}" target="_blank">
      <img class="gallery-image" src="{% static 'images\terran1.jpg' %}" alt="Relativity Space Terran1">
    </a>


    <div class="css-typing-terran">
      <p>
        Terran 1
      </p>
      <p>
        Height = 35.2 meters
      </p>
      <p>
        Thrust first stage = 920 kN
      </p>
      <p>
        Key person : TIM ELLIS
      </p>



      <!-- <div id=utc>UTC</div> -->
      <div class='countdown'>
        <div id="Terran 1">please wait...</div>
      </div>


      <div id="Terran 1DescriptionShort" class="descriptionShort">
        <span id="Terran 1DescriptionShortText"></span> <a href="#"
          onclick="toggleDescription('Terran 1'); return false">Read
          More</a>
      </div>
      <div id="Terran 1DescriptionFull" class="descriptionFull" style="display: none;">
        <span id="Terran 1DescriptionFullText"></span> <a href="#"
          onclick="toggleDescription('Terran 1');return false ">Read Less</a>
      </div>


    </div>
  </div>



  <div class="gallery-item">


    <!--STARSHIP-->

    <div id='companyname'>
      Space X
    </div>


    <!-- link to watch live -->

    <div class="videoWrapper">
      <iframe width="971" height="546" src="https://www.spacex.com/launches/" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class='livenote'>
      <h3>Live about 15/30 min before the end of countdown</h3>
    </div>

    <!-- <img src="images/picture.jpg"> -->

    <a href="{% static 'images\starship.jpg' %}" target="_blank">
      <img class="gallery-image" src="{% static 'images\starship.jpg' %}" alt="Space X Starship">
    </a>


    <div class="css-typing-starship">
      <p>
        Starship
      </p>
      <p>
        Height = 120 meters
      </p>
      <p>
        Thrust first stage = 72000 kN
      </p>
      <p>
        Key person : ELON MUSK
      </p>



      <!-- <div id=utc>UTC</div> -->
      <div class='countdown'>
        <div id="Super Heavy">please wait...</div>
      </div>

      <div id="Super HeavyDescriptionShort" class="descriptionShort">
        <span id="Super HeavyDescriptionShortText"></span> <a href="#"
          onclick="toggleDescription('Super Heavy'); return false">Read
          More</a>
      </div>
      <div id="Super HeavyDescriptionFull" class="descriptionFull" style="display: none;">
        <span id="Super HeavyDescriptionFullText"></span> <a href="#"
          onclick="toggleDescription('Super Heavy');return false ">Read Less</a>
      </div>


      

    </div>
  </div>

  <!--FALCON HEAVY-->


  <div class="gallery-item">




    <div id='companyname'>
      Space X
    </div>


    <!-- link to watch live -->

    <div class="videoWrapper">
      <iframe width="971" height="546" src="https://www.spacex.com/launches/" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class='livenote'>
      <h3>Live about 15/30 min before the end of countdown</h3>
    </div>


    <a href="{% static 'images\Falcon_heavy.jpg' %}" target="_blank">
      <img class="gallery-image" src="{% static 'images\Falcon_heavy.jpg' %}" alt="Space X Falcon heavy">
    </a>


    <div class="css-typing-falcon_heavy">
      <p>
        Falcon Heavy
      </p>
      <p>
        Height = 70 meters
      </p>
      <p>
        Thrust first stage = 15200 kN
      </p>
      <p>
        Key person : ELON MUSK
      </p>



      <div class='countdown'>
        <div id="Falcon Heavy">please wait...</div>
      </div>



      <div id="Falcon HeavyDescriptionShort" class="descriptionShort">
        <span id="Falcon HeavyDescriptionShortText"></span> <a href="#"
          onclick="toggleDescription('Falcon Heavy'); return false">Read
          More</a>
      </div>
      <div id="Falcon HeavyDescriptionFull" class="descriptionFull" style="display: none;">
        <span id="Falcon HeavyDescriptionFullText"></span> <a href="#"
          onclick="toggleDescription('Falcon Heavy');return false ">Read Less</a>
      </div>


    </div>
  </div>

</div>


<body>
  <div id='title-calendar'><u>Listed below the next worldwide spacecraft leaving for orbital or suborbital flight in
      UTC:</u></div>

  <div id="wellness-calendar"></div><br>
  <div id='note'>legend: NET (not earlier than)</div>




  </div>


</body>


</div>



<script type="text/javascript" src="{% static 'js/script.js' %}"> </script>


</html>
