<!DOCTYPE html>
<html lang="en">

{% load static %}
{%include "Base.html"%}
<!-- cache eraser -->
<header>
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
</header>
<!-- fonts link and css/html link -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</html>

</head>

  <div class="container">



    <body>
      <ciao>
      <icon>
        <i> Upcoming launches</i>
      </icon>
    </ciao>
    </body>






    <div class="gallery">




      <div class="gallery-item">
        <!-- <img src="images/picture.jpg"> -->
        <a href="{% static "images/electron.jpeg" %}" target="_blank">
          <img class="gallery-image"
            src="{% static "images/electron.jpeg" %}" alt="Rocketlab electron">
        </a>


        <div class="css-typing-electron">
          <p>
            Electron
          </p>
          <p>
            Height = 17 meters
          </p>
          <p>
            Thrust first stage = 192 kN
          </p>
          <p>
            Key person : PETER BECK
          </p>

          <div id=utc>UTC</div>
          <div id="electron">please wait...</div>


        </div>
      </div>

      <div class="gallery-item">
        <!-- link to watch live -->
        <a href="https://www.spacex.com/launches/" target="_blank">
        <div id=watchlive_falcon>watch</div>

        <a href="{% static "images/Falcon9.jpg" %}"
          target="_blank">
          <img class="gallery-image"
            src="{% static "images/Falcon9.jpg" %}"
            alt="Spacex Falcon 9">
        </a>
        <div class="css-typing-falcon">
          <p>
            Falcon 9
          </p>
          <p>
            Height = 70 meters
          </p>
          <p>
            Thrust first stage = 7607 kN
          </p>
          <p>
            Key person : ELON MUSK
          </p>
          <div id=utc>UTC</div>
          <div id="falcon">please wait...</div>

        </div>
      </div>

      <div class="gallery-item">
        <a href="https://www.youtube.com/watch?v=O97dPDkUGg4&feature=emb_title" target="_blank">
          <div id=watchlive_falcon>watch</div>
        <a href="{% static "images/newshepard.jpg" %}" target="_blank">
          <img class="gallery-image" src="{% static "images/newshepard.jpg" %}" alt="New Shepard">
        </a>
        <div class="css-typing-newshepard">
          <p>
            New Shepard
          </p>
          <p>
            Height = 18 meters
          </p>
          <p>
            Thrust first stage = 490 kN
          </p>
          <p>
            Key person : JEFF BEZOS
          </p>
          <div id=utc>UTC</div>
          <div id="newshepard">please wait...</div>

        </div>
      </div>

      <div class="gallery-item">
        <a href="{% static "images/spaceshiptwo.jpg" %}" target="_blank">
          <img class="gallery-image" src="{% static "images/spaceshiptwo.jpg" %}"
            alt="Virgin Galactic Space Ship Two">
        </a>
        <div class="css-typing-spaceshiptwo">

          <p>
            SpaceShipTwo
          </p>
          <p>
            Lenght = 18.3 meters
          </p>
          <p>
            Thrust first stage = 270 kN
          </p>
          <p>
            Key person : RICHARD BRANSON
          </p>
          <div id=utc>UTC</div>
          <div id="spaceshiptwo">please wait...</div>

        </div>
      </div>




      <!-- 		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1445810694374-0a94739e4a03?w=500&h=500&fit=crop" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div> -->

    </div>

    <div class="top_text">
      <h1><a href="/relativity" target="_blank">Relativity space brings the rocket competition to the next level</a></h1>

      <div class="bottom_text">
        <h2><a href="/relativity" target="_blank">In the competition to reach the orbit and beyond they are the most innovative ones</a></h2>

        <a href="https://cdn.dogtownmedia.com/wp-content/uploads/2019/10/16161931/aispace2.jpg" loading="lazy" target="_blank">

          <!-- news picture description -->


          <img class="gallery-image" src="https://cdn.dogtownmedia.com/wp-content/uploads/2019/10/16161931/aispace2.jpg"
            alt="relativity space">
        </a>
        <description>
          <p>World`s biggest 3D printer "Stargate" in action, building 11-foot-tall aluminum fuel tank. Credit:Relativity Space </p>
        </description>
      </div>
    </div>
  </div>

<script type="text/javascript" src="{% static 'js/script.js' %}"> </script>

</html>