

/* * {
   border: 1px solid red !important;
} */

/* h2{
    position:relative;

} */

/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}



.fa-twitter {
  background: #55ACEE;
  color: white;
} */


body {
    position:relative;
    overflow-x: hidden;
    background-image: url(../images/about.jpg);
    /* max-height:57rem; */
    background-color: #fafafa;
    background-size: 83rem;
    height: 49rem;
    /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
}





.container {
    /* flex: 1 0 24rem; */
    display: flex;
    justify-content:space-between;
    font-family:"Bangers", Arial, sans-serif;
    font-size: 2rem;
    /* flex-direction: column; */

}





.container > sopra {
  position:relative;
   color: #e23670;
    text-shadow: 0 0 15px #E1306C;
    width: 20rem;
    height:12rem;
    background:white;
    /* height: 100rem; */

}


  


.container > sotto {
    position:relative;
    color:white;
    top:10rem;
    width: 20rem;
    background:green;
    /* height: 100rem; */

}


/* MOBILE PHONE */


@media screen and (max-width: 600px) {
  body {
    position: relative;
    margin-top:1rem;
    background-position: 50% 50%;
    background-size: 100rem;
    background-repeat: no-repeat;
    height:60rem;
  }
}


@media screen and (min-width: 601px) {
  div.container {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  div.container {
    font-size: 25px;
  }
}


@media screen and (max-width: 600px){
  .container > sopra {
    position:relative;
    top:10rem;
    height:10rem;
    width: 19rem;
  
    }
  }

  @media screen and (max-width: 600px){
    .container > sotto {
     position: relative;
     top:27rem;
      }
    }
  


/*
.container h2 {
    flex: 1 0 24rem;
    position:relative;
    margin:10px;
    font-family:"Bangers", Arial, sans-serif;
    font-size: 2rem;
    max-width: 30rem;
    text-align: center;
    color: white;

}

.container h1{
    flex: 1 0 24rem;
    position:relative;
    margin:290px 0px 10px 900px;
    font-family:"Bangers", Arial, sans-serif;
    font-size: 2rem;
    max-width: 30rem;
    text-align: center;
    color:white


} */
