/* * {
    border: 1px solid red !important;
 } */

 /* html {
     box-sizing: border-box;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   } */




body {
  position:relative;
  /* display: block; */
  background-image: url(../images/contact.jpg);
  background-size: 97rem;
  background-repeat: no-repeat;
  max-height:50rem;
  background-color: #000;
}


email h1{

    color:white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    max-width: 16em;
    /* padding-bottom: 2.2em; */
    /* display: block; */
    /* height: 5rem; */
    /*   background: #171515; */
    /* line-height: 60px; */
  /*   border-radius: 100%; */
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
  }



email h1:nth-child(1):hover{
    color: #e23670;
  /*   box-shadow: 0 0 15px #E1306C; */
    text-shadow: 0 0 15px #E1306C;
  }
  
  
  email h1{
  
      color:white;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      position: relative;
      max-width: 16em;
      /* padding-bottom: 2.2em; */
      /* display: block; */
      /* height: 5rem; */
      /*   background: #171515; */
      /* line-height: 60px; */
    /*   border-radius: 100%; */
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
  }



twitter h1:nth-child(1):hover{
  color: #456cba;
  /* box-shadow: 0 0 15px #4267B2; */
  text-shadow: 0 0 15px #4267B2;
  }
