/* * {
    border: 1px solid red !important;
 } */

 /* html {
     box-sizing: border-box;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   } */




body {
 
  /* display: block; */
  background-image: url(../images/contact.jpg);
  background-size: 94rem;
  background-repeat: no-repeat;
  height:40rem;
  background-color: #000;
  background-position: 50% 50%;
  overflow-x: hidden;
}


#contacts{
  position: relative;
  top:10rem;
}

email a{

  color:white;
  font-family: 'bangers';
  font-size: 40px;
  position: relative;
  max-width: 16em;
  margin: 0 auto;
  cursor: pointer;
  transition: .5s;
}

twitter a{
    
  color:white;
  font-family: 'bangers';
  font-size: 40px;
  position: relative;
  /* left:10rem; */
  max-width: 16em;
  margin: 0 auto;
  cursor: pointer;
  transition: .5s;

}


/* MOBILE PHONE */
@media screen and (max-width: 600px) {
  body {
    position:relative;
    background-position: 50% 50%;
    background-size: 100rem;
    background-repeat: no-repeat;
    height:50rem;
  }
}





  @media screen and (max-width: 600px) {
    email a{
      font-size: 30px;
      top:10rem;
    }
  }
  



/* email h1:nth-child(1):hover{
    color: #e23670;
    text-shadow: 0 0 15px #E1306C;
  } */
  
  




  @media screen and (max-width: 600px) {
    twitter a{
      font-size: 30px;
      top:10rem;
    }
  }


/* twitter h1:nth-child(1):hover{
  color: #456cba;
 text-shadow: 0 0 15px #4267B2;
  } */
