/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77).

The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still receive an identical layout.

*/
/* * {
    border: 1px solid red !important;
 } */


   @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


 /* Base font size  */
   /* :root {
   font-size: 5vw;
   } */

   /* html {
     box-sizing: border-box;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   } */
  
   body {
  
     
  
    overflow-x:hidden ;
    min-height: 430rem;
    background-color: #000;
    background-image: url(../images/background.jpeg);
    position:relative;
    background-size: 300vw;

  }


/* top image of the home page */
    #top {
      text-align: center;
    position:relative;
    top:-29rem; 
    color:white;
    margin-left:-5px;
    margin-right: -5px;
    background-image: url(../images/purple.jpg);
    /* width:100%; */
    height: 21rem;
    /* background-position: 50% 50%; */
    background-size: cover;
    /* overflow: hidden; */
    /* z-index:100; */
   }

   
   #top ul{
     position:relative;
     margin-left:-45px;
    margin-right: -10px;
     font-size: 80px;
     top:6rem;
     font-family: 'Orbitron', sans-serif;
   }

  

/* spacetraffic icon top */
   h1{
     position:relative;
     top:0rem;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;

   }
/* TITLE OF THE PAGE */
    body ciao{
    display: flex;
    justify-content: center;
  }

  ciao icon{
    top:120px;
    /* bottom:-400px;  */
    position: absolute;
    color: rgb(236, 236, 236);
    font-size: 60px;
    font-family: 'bangers';
    height: 5rem;
    line-height: 60px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
  }

  ciao icon:nth-child(1){
    color: #e23670;
  /*   box-shadow: 0 0 15px #E1306C; */
    text-shadow: 0 0 15px #E1306C;
  }

/* all icon of the space company */
#companyname{

    position:relative;
    font-size: 29px;
    /* height:5rem; */
    margin: 0px 15px;
    border-radius: 50%;
    font-family: 'bangers';
    
}


.virgingalactic{

  position:relative;
  height:5rem;
  margin: 10px 10px;
  /* border-radius: %; */
  font-family: 'bangers';
  
}

/* .icon_electron div{
   position: relative;
  left:100px;
} */


/* MOBILE VERSION */

@media screen and (max-width: 600px) {
  #top {
    display:none;
  }
}


@media screen and (max-width: 600px) {
  ciao icon {
    top:5.9rem;
    /* margin-top: -6rem; */
color: #e23670;
text-shadow: 0 0 15px #E1306C;
  }
 
}



/* @media screen and (max-width: 600px) {
  body html{
    background-position: 50% 50%;
    background-size: 200rem;
    overflow-x: hidden;
    background-repeat: no-repeat;
    margin:0 auto;

  }
} */

@media screen and (max-width: 600px) {
  div.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    
    flex: 1 0 24rem;
    background-color:rgb(255, 255, 255);
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin:14rem 0.5rem 1rem 0.5rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    border-style: groove;
    border-color:#e428fc;
    font-family: 'bangers';


  }
}


@media screen and (max-width: 450px) {
  ciao icon{
    font-size: 40px;
  }
}


 /* div of the news */

 .top_text{
   position:static;
   /* top:5rem; */
   font-family: 'Haettenschweiler';
   background-color:white;
   height:12rem;
   margin:12rem 1rem 0 1rem;
   text-align:center;
   max-width: 100%;
   
 }

 /* Picture descritption  */
 description {
   position:relative;
   font-family: 'Haettenschweiler';
   font-weight: 1000;
   top:2rem;
   font-size: 19px;
 }

 /* bottom part of the new */

 .bottom_text{
   position:inherit;
   font-family: 'Haettenschweiler';
   margin:1rem auto -1.1rem auto;
   padding:1rem;
   text-align:center;
   background:white;
 }

  /* .news h1 {
   position: inherit;
   background:white;
   text-align:center;
 } */

 /* unvisited link */
 .top_text:link {
   color:red;
 }

 /* visited link */
 .top_text:visited {
   color: green;
 }

 /* mouse over link */
 .top_text:hover {
   color: black;
 }

 /* selected link */
 .top_text:active {
   color: blue;
 }



   .gallery {

     display: flex;
     flex-wrap: wrap;
     /* Compensate for excess margin on outer gallery flex items */
     margin: -1rem -1rem;


     /* youtube video launch */
   }
   .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    /* margin:0 a; */
  }
  .videoWrapper iframe {
    
    position: absolute;
    top: 0;
    left: 1rem;
    width: 90%;
    height: 90%;
  }
  

   .gallery-item {
     /* Minimum width of 24rem and grow to fit available space */
     flex: 1 0 24rem;
     background-color:rgb(255, 255, 255);
     /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
     margin:-14rem 0.5rem 14rem 0.5rem;
     box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
     border-style: groove;
     border-color:#e428fc;
     font-family: 'bangers';
 /*     overflow: hidden; */
     /* object-fit: cover; */
     /* border-radius: 10%;  */

   }
/* live note */
.livenote h3{
  position:inherit;
  margin:0 auto;
  /* left:0.2rem; */
  font-size:20px;
  font-family: 'bangers';
  /* background-color:grey ; */
  /* border-radius: 10%; */
  /* width: 45rem; */
  /* padding:4px; */
  text-align: center;
  
  /* color:white; */

}



   .gallery-image {
     margin:10px auto;
     /* margin-left: 1.9rem; */
     display: block;
     max-width: 90%;
     max-height: auto;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
     transition: transform 400ms ease-out;
     border-radius: 4%;
   }



   .gallery-image:hover {
     transform: scale(1.03);
   }

   /*

   The following rule will only run if your browser supports CSS grid.

   Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

   */
 /*   to adjust the resize of the image play with the minmax value */
   @supports (display: grid) {
     .gallery {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
       grid-gap: 6rem;
       /* padding:0 0 9vh 0; */
       margin:0 auto;
       /* overflow:hidden; */

     }
   }



     /* COUNTDOWN */
   #electron {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    color:red;
  }

  #falcon {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    color:red;
  }

  #newshepard {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    color:red;
  }


  #spaceshiptwo {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    color:red;
  }



    .css-typing-electron  p {
     border-right: 1em solid green;
     font-family: "Press Start 2P";
     color: green;
     font-size: 10px;
     white-space: nowrap;
     overflow: hidden;
     position:inherit;
     left: 0px;
     top: 0px;
     width: 0px;
     margin:15px;
     background-color:white;

   }

   .css-typing-electron p:nth-child(1) {
     width: 8.8em;
     -webkit-animation: type3 2s steps(60, end);
     animation: type 0.6s steps(60, end);
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;

   }

   .css-typing-electron p:nth-child(2) {
     width: 19em;
     -webkit-animation: type3 2s steps(40, end);
     /*   -webkit-animation: type 1s steps(40, end); */
     opacity: 0;
     animation: type2 1s steps(40, end);
     animation-delay: 0.9s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;

   }

   .css-typing-electron p:nth-child(3) {
     width: 27.1em;
     opacity: 0;
     /*   -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
     animation: type2 1.6s steps(40, end);
     -webkit-animation-delay: 4s;
     animation-delay: 2.5s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;

   }

   .css-typing-electron p:nth-child(4) {
     width: 24.1em;
     opacity: 0;
     /*   -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
     animation: type3 1.6s steps(40, end), blink 0.5s step-end;
     -webkit-animation-delay: 3s;
     animation-delay: 4.5s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;

   }

   @keyframes type {
     0% {
       width: 0;
     }
     99.9% {
       border-right: 0.15em solid #e600a4;
     }
     100% {
       border: none;
     }
   }

   @-webkit-keyframes type {
     0% {
       width: 0;
     }
     99.9% {
       border-right: 0.15em solid #e600a4;
     }
     100% {
       border: none;
     }
   }

   @keyframes type2 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     99.9% {
       border-right: 0.15em solid #e600a4;
     }
     100% {
       opacity: 1;
       border: none;
     }
   }

   @-webkit-keyframes type2 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     99.9% {
       border-right: 0.15em solid #e600a4;
     }
     100% {
       opacity: 1;
       border: none;
     }
   }

   @keyframes type3 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     100% {
       opacity: 1;
     }
   }

   @-webkit-keyframes type3 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     100% {
       opacity: 1;
     }
   }

   @keyframes blink {
     50% {
       border-color: transparent;
     }
   }
   @-webkit-keyframes blink {
     50% {
       border-color: tranparent;
     }
   }

   .css-typing-falcon p {
     border-right: 1em solid green;
     font-family: "Press Start 2P";
     color: green;
     font-size: 10px;
     white-space: nowrap;
     overflow: hidden;
     background-color:white;
     position:inherit;
     left: 0px;
     top: 0px;
     width: 0px;
     margin:15px;

   }
   .css-typing-falcon p:nth-child(1) {
     width: 8.8em;
     -webkit-animation: type 2s steps(60, end);
     opacity: 0;
     animation: type2 0.6s steps(60, end);
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
     animation-delay: 7s;
   }

   .css-typing-falcon p:nth-child(2) {
     width: 19em;
     -webkit-animation: type3 2s steps(40, end);
     /*   -webkit-animation: type 1s steps(40, end); */
     opacity: 0;
     animation: type2 1s steps(40, end);
     animation-delay: 8s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   .css-typing-falcon p:nth-child(3) {
     width: 27.1em;
     opacity: 0;
     /*   -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
     animation: type2 1.6s steps(40, end);
     -webkit-animation-delay: 4s;
     animation-delay: 9.8s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   .css-typing-falcon p:nth-child(4) {
     width: 23em;
     opacity: 0;
     /*   -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
     animation: type3 1.6s steps(40, end), blink 0.5s step-end;
     -webkit-animation-delay: 4s;
     animation-delay: 11.6s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   @keyframes type {
     0% {
       width: 0;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       border: none;
     }
   }

   @-webkit-keyframes type {
     0% {
       width: 0;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       border: none;
     }
   }

   @keyframes type2 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       opacity: 1;
       border: none;
     }
   }

   @-webkit-keyframes type2 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       opacity: 1;
       border: none;
     }
   }

   @keyframes type3 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     100% {
       opacity: 1;
     }
   }

   @-webkit-keyframes type3 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     100% {
       opacity: 1;
     }
   }

   @keyframes blink {
     50% {
       border-color: transparent;
     }
   }
   @-webkit-keyframes blink {
     50% {
       border-color: tranparent;
     }
   }

   .css-typing-newshepard p {
     border-right: 1em solid green;
     font-family: "Press Start 2P";
     color: green;
     font-size: 10px;
     white-space: nowrap;
     overflow: hidden;
     background-color:white;
        position:inherit;
     left: 0px;
     top: 0px;
     width: 0px;
     margin:15px;
   }

   .css-typing-newshepard p:nth-child(1) {
     width: 14.8em;
     -webkit-animation: type 2s steps(60, end);
     opacity: 0;
     animation: type2 0.6s steps(60, end);
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
     animation-delay: 13.7s;
   }

   .css-typing-newshepard p:nth-child(2) {
     width: 19em;
     -webkit-animation: type3 2s steps(40, end);
     /*   -webkit-animation: type 1s steps(40, end); */
     opacity: 0;
     animation: type2 1s steps(40, end);
     animation-delay: 14.3s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   .css-typing-newshepard p:nth-child(3) {
     width: 27.1em;
     opacity: 0;
     /*   -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
     animation: type2 1.6s steps(40, end);
     -webkit-animation-delay: 4s;
     animation-delay: 16.1s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   .css-typing-newshepard p:nth-child(4) {
     width: 24em;
     opacity: 0;
     /*   -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
     animation: type3 1.6s steps(40, end), blink 0.5s step-end;
     -webkit-animation-delay: 4s;
     animation-delay: 18.1s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   @keyframes type {
     0% {
       width: 0;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       border: none;
     }
   }

   @-webkit-keyframes type {
     0% {
       width: 0;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       border: none;
     }
   }

   @keyframes type2 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       opacity: 1;
       border: none;
     }
   }

   @-webkit-keyframes type2 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       opacity: 1;
       border: none;
     }
   }

   @keyframes type3 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     100% {
       opacity: 1;
     }
   }

   @-webkit-keyframes type3 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     100% {
       opacity: 1;
     }
   }

   @keyframes blink {
     50% {
       border-color: transparent;
     }
   }
   @-webkit-keyframes blink {
     50% {
       border-color: tranparent;
     }
   }

   .css-typing-spaceshiptwo p {
     border-right: 1em solid green;
     font-family: "Press Start 2P";
     color: green;
     font-size: 10px;
      position:relative;
     margin:2vh;
     white-space: nowrap;
     overflow: hidden;
     background-color:white;
   }
   .css-typing-spaceshiptwo p:nth-child(1) {
     width: 14.8em;
     -webkit-animation: type 2s steps(60, end);
     opacity: 0;
     animation: type2 0.6s steps(60, end);
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
     animation-delay: 20.2s;
   }

   .css-typing-spaceshiptwo p:nth-child(2) {
     width: 19em;
     -webkit-animation: type3 2s steps(40, end);
     /*   -webkit-animation: type 1s steps(40, end); */
     opacity: 0;
     animation: type2 1s steps(40, end);
     animation-delay: 21.2s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   .css-typing-spaceshiptwo p:nth-child(3) {
     width: 27.1em;
     opacity: 0;
     /*   -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
     animation: type2 1.6s steps(40, end);
     -webkit-animation-delay: 4s;
     animation-delay: 23s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   .css-typing-spaceshiptwo p:nth-child(4) {
     width: 29em;
     opacity: 0;
     /*   -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate; */
     animation: type3 1.6s steps(40, end), blink 0.5s step-end;
     -webkit-animation-delay: 4s;
     animation-delay: 25.4s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
   }

   @keyframes type {
     0% {
       width: 0;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       border: none;
     }
   }

   @-webkit-keyframes type {
     0% {
       width: 0;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       border: none;
     }
   }

   @keyframes type2 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       opacity: 1;
       border: none;
     }
   }

   @-webkit-keyframes type2 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     99.9% {
       border-right: 0.15em solid orange;
     }
     100% {
       opacity: 1;
       border: none;
     }
   }

   @keyframes type3 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     100% {
       opacity: 1;
     }
   }

   @-webkit-keyframes type3 {
     0% {
       width: 0;
     }
     1% {
       opacity: 1;
     }
     100% {
       opacity: 1;
     }
   }

   @keyframes blink {
     50% {
       border-color: transparent;
     }
   }
   @-webkit-keyframes blink {
     50% {
       border-color: tranparent;
     }
   }

   /* h1 {
     font-family: 'Gotham', sans-serif;
     font-size: 26px;
     color: black;
     line-height: 1.1em;
     margin-bottom: 0px;
   } */

   /* see all */
   /* .cta {
     display: block;
     margin-left: 10px;
   }

   a # {
     font-family: "Gotham", sans-serif;
     font-size: 14px;
     font-weight: bold;
     color: #3cb3e3;
     line-height: 1.1em;
     margin-bottom: 20px;
     text-decoration: none;
     border-bottom: 1px solid #3cb3e3;
   } */

